    ### Kopano API
    location /api/gc/ {
        proxy_pass http://kapi/api/gc/;
    }

    # kapi pubs
    location /api/pubs/ {
        proxy_pass http://127.0.0.1:8039/api/pubs;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
}  