     location ~* /Microsoft-Server-ActiveSync {
        access_log  <LOG_ACCESS_LOCATION>/zpush-access.log;
        error_log   <LOG_ERROR_LOCATION>/zpush-error.log;

        # 1.33 x the maximum message size rounded to whole number
        client_max_body_size <ZPUSH_CONTENT_BODY_SIZE>;
        client_body_buffer_size 128k;

        include /etc/nginx/nginx.conf.d/php-fpm.conf;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME /usr/share/zpush/src/index.php;
    }
